@page "/{message?}"
@inject IJSRuntime JS

<h1>Hello, world!</h1>

@Message<br />

@for (var i = 0; i < 10; i++)
{
    @*Should report a diagnostic:*@
    @*<button @onclick="@(() => JS.InvokeVoidAsync("window.alert", i))">@i</button>*@

    @*Should not report a diagnostic:*@
    var index = i;
    <button @onclick="@(() => JS.InvokeVoidAsync("alert", index))">@i</button>
}

<br />

@for (var i = _numItems; i > 0; i--)
{
    <span @key="i" id="@i">@i</span><br />
}

<button @onclick="() => _numItems++">Add item</button>

<Counter />

@code{
    [Parameter] // Removing this line should report a diagnostic.
    [SupplyParameterFromQuery]
    public string? Message { get; set; }

    private int _numItems = 0;
}
